/* Stylesheet for Small Devices */

body {
}

/* Header */
.navbar.navbar-fixed-top .container-fluid {
    max-width: 1360px;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar.navbar-fixed-top .navbar-brand {
    padding: 10px 15px;
    height: 75px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.navbar.navbar-fixed-top .navbar-brand img {
    max-height: 45px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.navbar.navbar-fixed-top .navbar-brand .by-matt {
    color: #666;
    font-size: 12px;
    line-height: 12px;
}
.navbar.navbar-fixed-top .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
.navbar.navbar-fixed-top .navbar-nav>li>a {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    padding-top: 28px;
    padding-bottom: 27px;
}
.navbar.navbar-fixed-top.nav-shrink .navbar-brand {
    height: 60px;
}
.navbar.navbar-fixed-top.nav-shrink .navbar-brand img {
    max-height: 30px;
}
.navbar.navbar-fixed-top.nav-shrink .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Page */
.page {
	max-width: 1360px;
	margin-left: auto;
	margin-right: auto;
}

/* Masonry */
.item {
	width: 23%;
}
.item > p:first-child {
    margin: 0;
    /*height: 150px;*/
    overflow: hidden;
}
.item h2 {
}

/* Section Styles */
/* Home */
.home-container {
	background: url(../img/home-container-bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    height: 600px;
}
.home-container h1.slogan {
    font-size: 50px;
    margin-top: 135px;
}
/* Services */
.services-container {
    color: #FFF;
    background: url(../img/services-container-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
}
.services-container .btn h2 {
    font-size: 18px;
}
.services-modal-icon  {
    max-width: 100%;
}
/* Contact */
.contact-container {
    color: #FFF;
    background: #4cb848 url(../img/contact-container-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Footer */
.footer-top > .row {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}
.social-icons {
    text-align: left;
}
.footer-nav {
    text-align: right;
}
.footer-nav ul li a {
    text-transform: uppercase;
    font-size: 14px;
    color: #FFF;
    font-weight: 600;
}
.footer-nav ul li a:hover {
    color: #4cb848;
}
/* Modal */
.modal .modal-content {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}
.modal .modal-header, .modal .modal-body {
    padding: 25px;
}
.modal .modal-title {
    font-size: 24px;
}

/* Portfolio Page */
.home-container.portfolio-page-home {
    background-position: center -250px;
}
.home-container.portfolio-page-home h1 {
    font-size: 50px;
}

