/* Stylesheet for Medium Sized Devices */

/* Header */
.navbar.navbar-fixed-top .nav>li>a {
    padding-left: 20px;
    padding-right: 20px;
}

/* Masonry */
.item > p:first-child {
    /*height: 180px;*/
}

/* Services */
.services-container .btn h2 {
    height: 50px;
}